[mysqld]
# 基础设置
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone='+08:00'

# 连接设置
max_connections=1000
max_connect_errors=100

# 缓存设置
query_cache_type=1
query_cache_size=128M

# 日志设置
log_error=/var/log/mysql/error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2

# InnoDB设置
#innodb_buffer_pool_size=256M
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT

[client]
default-character-set=utf8mb4
